<h1>User info</h1>



<%= form_with model: @user do |f| %>

  Name
    <div class="field"><%= f.text_field :name %></div>
    
  Image
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  


  <p>Introduction</p>
    <div class="field"><%= f.text_area :introduction %></div>
  <p>
    <div class="actions"><%= f.submit 'Update user' %></div>
  </p>
   
  


<% end %>
