<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', { user: @user, book: @book_new } %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
　  　 <%= link_to(user_path(@user)) do %>
  　 　　 　<%= image_tag(@user.get_profile_image(100, 100)) %>     
 　       <%= @user.name %>
       <% end %>
  　  　 <%= @book.title %>    
　　   <%= @book.body %>
　　   <% if @book.user == current_user %>
　　     <%= link_to "Edit", edit_book_path(@book.id) %>
　　   <% end %>
　　   <% if @book.user == current_user %>
         <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？"  %>
       <% end %>

    </div>
  </div>
</div>

